/Makefile
/Makefile.in
/aclocal.m4
/autoscan.log
/autom4te.cache/
/config.*
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4/
/missing
src/include/stamp-h?
.deps/
.dirstamp
.libs/
*.l[ao]
*/stamp-h?
.deps/
.dirstamp
*.o
*~
*.swp
src/parser/rayscript_lexer.c
src/parser/rayscript_parser.c
src/include/rayscript.tab.h
src/include/config.h
*.in
test*.rs
*.py
*.output
rayscript
debug_lexer
/.*
