build/Makefile
build/Makefile.in
build/config.log
build/autom4te.cache
/autoscan.log
/autom4te.cache/
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4/
/missing
src/include/stamp-h?
.deps/
.dirstamp
.libs/
*.l[ao]
*/stamp-h?
.deps/
.dirstamp
*.o
*~
*.swp
*.swo
src/parser/rayscript_lexer.c
src/parser/rayscript_parser.c
src/include/rayscript.tab.h
src/include/config.h
test*.rs
*.py
*.output
rayscript
debug_lexer
/.*
rs
